body {
  padding-top: 60px;
}

.flash_message {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1030;
}

.lbl {
  font-size: 18px;
}
.img-lbl {
  margin-right: 10px;
}
.custom-file {
  overflow: hidden;
}
.custom-file-label {
  white-space: nowrap;
}
.update-btn {
  margin-top: 20px;
}

dl.search1{
  position: relative;
  background-color: #fff;
  border:1px solid  #aaa;
  border-radius: 6px;
}
dl.search1 dt{
  padding: 3px;
}
dl.search1 dt input{
  width: 75%;
  height: 30px;
  line-height: 30px;
  background: none;
  border: none;
}
dl.search1 dd{
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
}
dl.search1 dd button{
  display: block;
  background: #3490dc;
  width: 100%;
  height: 36px;
  line-height: 36px;
  border: none;
  border-radius: 0 6px 6px 0;
}
dl.search1 dd button:hover {
  background: #3490dc;
}
dl.search1 dd button span{
  display: block;
  color: #FFF;
}


@media (max-width: 767px) {

  .form-control {
    width: 97%;
    margin: auto;
  }
  .search-btn {
    margin-top: 20px;
  }
}