body {
  background-color: rgb(240, 240, 240);
  padding: 60px;
}

.auther {
  background-color: #fff;
  margin-top: 20px;
  padding-top: 20px;

  .img-auther {
    width: 60%;
    height: 60%;
    border-radius: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  h4 {
    text-align: center;
    margin-top: 10px;
  }
}
.search-box {
  background-color: #fff;
  margin-top: 20px;
  padding: 10px;

  .form-group {
    margin: auto;
    .search-form {
      width: 80%;
    }
    .btn-search{
      width: 20%;
    }
  }
}

.blog-list {
  color: rgb(64, 64, 64);
  background-color: #fff;
  padding: 30px 10px;
  margin-top: 20px;

  .blog-date {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .blog-title {
    font-size: 30px;
    color: rgb(64, 64, 64);
    display: block;
    margin-bottom: 10px;
  }
  .blog-image {
    text-decoration: none;
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  .blog-text {
    font-size: 15px;
    padding: 0 50px;
    margin-top: 20px;
    margin-bottom: 15px;
    line-height: 2em;
    text-align: center;
  }
  .read-more-box {
    text-align: center;
  }
  .read-more {
    font-size: 18px;
    padding: 5px;
    border: 1px solid;
    opacity: 0.8;
  }
}

.top-pagination {
  margin-top: 20px;
  justify-content: center;
}

.article {
  background-color: #fff;
  margin-top: 20px;
  padding: 30px;

  .article-box{
    margin:0;

    .article-date {
      text-align: center;
    }
    .article-title {
      text-align: center;
    }
    .article-image {
      width:80%;
      margin-right: auto;
      margin-left: auto;
      
      img {
        max-width: 100%;
      }
    }
    .article-text {
      font-size: 16px;
      line-height: 2em;
    }
  }
}

.contact-form {
  .cnt-title {
    margin-bottom: 0;
  }
  .cnt-hr {
    margin-top: 0;
  }
  .label {
    margin-bottom: 5px;
  }
  .lbl {
    margin-bottom: 0;
  }
}