body {
  background-color: #f0f0f0;
  padding: 60px;
}

.auther {
  background-color: #fff;
  margin-top: 20px;
}

.auther .img-auther {
  border-radius: 50%;
  margin-top: 20px;
}

.auther h4 {
  text-align: center;
  margin-top: 10px;
}

.blog-list {
  background-color: #fff;
  margin-top: 20px;
}

.blog-list .btn {
  text-decoration: none;
}

.blog-list .image {
  width: 150px;
  height: 150px;
}

.blog-list .date {
  font-size: 13px;
}

.blog-list .title {
  font-size: 30px;
}

.blog-list .body {
  font-size: 15px;
  margin-top: 0;
}

.blog {
  background-color: #fff;
  margin-top: 20px;
}

.cnt {
  margin-bottom: 0;
}

.cnt-hr {
  margin-top: 0;
}

.label {
  margin-bottom: 5px;
}

.lbl {
  margin-bottom: 0;
}

