body {
  background-color: #f0f0f0;
  padding: 60px;
}

.auther {
  color: #404040;
  background-color: #fff;
  margin-top: 30px;
  padding: 15px;
}

.auther .img-auther {
  width: 60%;
  height: 60%;
  border-radius: 50%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.auther h4 {
  text-align: center;
  margin-top: 10px;
}

.auther p {
  text-align: center;
}

.search-box {
  background-color: #fff;
  margin-top: 30px;
  padding: 10px;
}

.search-box .search-box-2 {
  margin: 20px auto;
}

.search-box .search-box-2 dl.search1 {
  position: relative;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 6px;
}

.search-box .search-box-2 dl.search1 dt {
  padding: 3px;
}

.search-box .search-box-2 dl.search1 dt input {
  color: #404040;
  width: 70%;
  height: 30px;
  line-height: 30px;
  background: none;
  border: none;
}

.search-box .search-box-2 dl.search1 dd {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
}

.search-box .search-box-2 dl.search1 dd button {
  display: block;
  background: #2b71c8;
  width: 100%;
  height: 36px;
  line-height: 36px;
  border: none;
  border-radius: 0 6px 6px 0;
}

.search-box .search-box-2 dl.search1 dd button:hover {
  background: #4e91e4;
}

.search-box .search-box-2 dl.search1 dd button span {
  display: block;
  color: #FFF;
}

.blog-list {
  color: #404040;
  background-color: #fff;
  padding: 30px 20px;
  margin-top: 30px;
}

.blog-list .blog-date {
  font-size: 15px;
  margin-bottom: 10px;
}

.blog-list .blog-title {
  font-size: 30px;
  color: #404040;
}

.blog-list .blog-image {
  text-decoration: none;
  width: 80%;
  display: block;
  margin: 5px auto 0 auto;
}

.blog-list .blog-text {
  font-size: 16px;
  padding: 0 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 2em;
  text-align: center;
}

.blog-list .read-more-box {
  text-align: center;
}

.blog-list .read-more {
  font-size: 18px;
  padding: 8px;
  border: 1px solid;
  opacity: 0.8;
}

.top-pagination {
  margin-top: 20px;
  justify-content: center;
}

.article {
  color: #404040;
  background-color: #fff;
  padding: 30px 20px;
  margin-top: 30px;
}

.article .row {
  justify-content: center;
}

.article .row .article-date {
  font-size: 15px;
  margin-bottom: 10px;
}

.article .row .article-title {
  font-size: 30px;
  color: #404040;
}

.article .row .article-image {
  max-width: 100%;
  text-decoration: none;
  display: block;
  margin: 15px auto 0 auto;
}

.article .row .article-text {
  font-size: 16px;
  padding: 0 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 2em;
  text-align: left;
}

.article .row .article-video {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.article .row .article-video iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.article .row .back-box {
  margin-top: 50px;
}

.article .row .back-box .back {
  font-size: 18px;
  padding: 10px;
  border: 1px solid;
  opacity: 0.8;
}

.article .row .back-box .back-2 {
  font-size: 18px;
  padding: 10px;
  border: 1px solid;
  opacity: 0.8;
}

.contact-form {
  color: #404040;
}

.contact-form .cnt-title {
  margin-bottom: 0;
}

.contact-form .cnt-hr {
  margin-top: 0;
}

.contact-form .label {
  margin-bottom: 5px;
}

.contact-form .lbl {
  margin-bottom: 0;
}

.contact-form .send-btn {
  margin-top: 10px;
}

